.contact-container {
  background-image: url("/public/images/contact-bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  width: 60vw;
  height: 60vh;
  background-color: #6d6d6d85;
  border-radius: 5%;
  padding: 5px 5px 5px 10px;
  color: white;
}

.contact-info .title {
  color: rgb(27, 2, 87);
  text-align: center;
  font-size: 34px;
}

.contact-info-container {
  margin: 0px 0px 10px 30px;
}

.info-name {
  color: #222831;
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.info-description {
  color: #1a1a2e;
  font-size: 26px;
  font-weight: 700;
}
