@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap');


.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 25px 10px 25px;
  padding: 5px 10px 5px 10px;
  /* background-color: #1a1a2e;
  border-top:5px solid #e94560; */

}

.navbar-item {
  align-items: center;
  padding: 5px 15px 5px 10px;
  border-right: 1px solid;
  color: #3ed04f;
  font-family: 'Grandstander', cursive;
  font-size:20px;
  text-decoration: none;
}

.navbar-item.cart-icon{
  border-right: none;
  display: flex;
}

.navbar-item.cart-icon img{
  width:30px;
  margin-left: 10px;
}

.navbar-item.cart-icon span{
  margin-left: 10px;
}

